**/.mp4
**/.pyc
**/data/*
*/spot_videos/*
**.pyc
.DS_Store
habitat-sim/
results/checkpoints
results/official_check
results/video_dir
data/
*.png
*.jpg
core.*
*.log
train.log
pymp*
.tensorboard-info
*torchelastic_8mp55lgm*